<mat-card class="card mat-elevation-z8" style="border: 20px solid white;">
  <mat-card-header>
          <mat-card-title>Bem Vindo(a) {{nome}}</mat-card-title>
          <mat-card-subtitle>Seu hotel agora está 100% na WEB!</mat-card-subtitle>
  </mat-card-header>

        <img mat-card-image src="assets/imgs/home-image.svg" style="padding: 20px 0px"/>
        
  <mat-card-content>
          <p style="text-align: center; font-size: medium;">
            O Z-Hotel é o seu novo sistema que gerencia a entrada de clientes para você!.<br />
            <br /><br />
            Fique a vontade para testar o sistema e deixar sua sugestão. <br />
            Desenvolvido por: <a href="https://www.zipsoftware.com.br" class="link">ZiP Software© 2022</a>
          </p>
  </mat-card-content>
</mat-card>
        
